//COLORS//

$color-primary-dark: #1B514B;
$color-primary-light: #0D9291;
$color-primary-btn: #F15F5D;

$color-secondary-green: #9CD25D;
$color-secondary-maroon: #560E2B;
$color-secondary-blue:#69C9D3;
$color-secondary-pink: #F15F5D;
$color-secondary-purple: #6F7288;

$color-black: #000000;
$color-grey-dark: #707070;
$color-grey-medium: #C8CCCB;
$color-grey-light: #F9FDFC;
$color-white: #ffffff;

//FONTS//

$font-paragraph: 'Montserrat', sans-serif;
$font-heading: 'Quicksand', sans-serif;
