// <div className='login-container'>
// <div className='login-container-left'>
//     <img src='' alt='' className='login-container-left-img'></img>
//     <p className='login-container-left-p'>Life doesn't have to be hard </p>
// </div>
// <div className='login-container-right'>
//     <h1 className='login-container-right-h1'>Simple Life</h1>
//     <p className='login-container-right-p1'> Welcome to the Simple Life</p>

//     <input className="login-container-form-userName" type='text' placeholder='' />
//     <input className="login-container-form-password" type='text' placeholder='' />
//     <div className='lineBreak'>
//         <span className='or'>or</span>
//      <span className="forgotPassword">Forgot Password</span>
//      <button className='login-container-right-btn2 btn btn-signIn'>Sign In</button>
//     <button className='login-container-right-btn btn btn-google'>Sign in with Google</button>
//     <p "login-container-right-p2"> Not a Member? <Link to='register'>Register</Link>

.login-container {
	display: grid;
	grid-template-areas: 'logo form';
	text-align: center;


	&-left {
		grid-area: logo;
		background-color: $color-primary-dark;
        
	
		border-radius: 2rem 0 0 2rem;
		&-img {
		
			width: 50%;
			height: 50%;
		}

		//Life doesn't have to be so hard//
		&-p {
			font-family: $font-paragraph;
			text-align: center;
			color: $color-grey-light;
		}
	}

	&-right {
        width: 100%;
		grid-area: form;
		display: flex;
		flex-direction: column;
		align-items: center;
		
        //google button//
		button {
			background-color: $color-secondary-blue;
            margin-bottom: 5rem;
		}

		h1 {
			font-family: $font-heading;
			margin-top: 5rem;
			text-transform: uppercase;
		}

		// Welcome to the Simple Life//
		p {
			font-family: $font-paragraph;
            margin-bottom: 6rem;
		}

		//Not a Member? Register//
		.p2 {
			font-family: $font-paragraph;

			._register {
				color: $color-primary-dark;
				text-decoration: none;
			}
		}

		
	}

	.login-form-container {
       width: 100%;
       
        //signin button//
		.btn {
			background-color: $color-primary-btn;
            margin: 5rem;

		}

		._userName {
			// margin: 5rem 0 5rem 0;
			border-width: 0 0 0.1rem 0;
			border-color: $color-primary-light;
			// width: 38rem;
			font-size: 1rem;
			padding-bottom: 2rem;
            min-width: 60%;
            margin-bottom: 3rem;

			
		}
		._password {
			border-width: 0 0 0.1rem 0;
			border-color: $color-primary-light;
			// width: 38rem;
			font-size: 1rem;
			padding-bottom: 2rem;
            min-width: 60%;
		}

	}
	//end login form stuff
	// .lineBreak {
	// 	border-bottom: 0.15rem solid $color-grey-medium;
	// 	width: 38rem;
	// 	z-index: 1;
	// 	bottom: 15rem;
	// }
	.forgotPassword {
		display: flex;
		justify-content: center;
		color: $color-primary-light;
		text-decoration: none;
		
	}
}
@media (max-width: 1200px) {
	.login-container-left {
		display: none;
	}
	.login-container-right {
		align-items: center;
		text-align: center;
	}
	.login-form-container {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width:700px){
    .login-form-container{
        
       
    }
    .login-container{
    }
}
