//<div className='screenCover'>
//<div className='signup-container'>
//<h1 className='signup-container-h1'>Sign up with email.</h1>
//<p className='signup-container-p'></p>
//<input className='signup-container-form-name'>Display Name</input>
//<input className='signup-container-form-email'>Email</input>
//<input className='signup-container-form-streetNum'>Street Number</input>
//<input className='signup-container-form-streetName'>Street Name</input>
//<input className='signup-container-form-zip'>Zipcode</input>
//<input className='signup-container-form-password'>Password</input>
//<input className='signup-container-form-confPassword'>Confirm Password</input>
//<button className='signup-container-form-btn' type='submit'>Submit</button>

.screenCover {
	background-color: rgba(0, 0, 0, 0.908);
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}
.signup-container {
	//do not change auto unless have better option
	margin: 8rem auto;
	background-color: $color-primary-light;
	width: 70%;
	border-radius: 2rem;
	box-shadow: 0 0.5rem 0.7rem ($color-black);

	font-family: $font-paragraph;
	&-h1 {
		font-family: $font-heading;
		color: $color-white;
		text-align: center;
		padding-top: 2rem;
	}

	&-p {
		color: $color-white;
		text-align: center;
		margin-bottom: 3rem;
	}
}

.signup-container-form {
	margin: 0 5rem;

	font-family: $font-paragraph;

	&-btn {
		grid-column-start: 3;
		margin-left: 5rem;
	}
}
$sub-color: grey;
$main-color: black;

//ADDS NEW FUNTIONALITY PLAY TO LEARN DONT BREAK
@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $color-grey-dark;
}

.group {
  position: relative;
  margin:1rem 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $color-primary-dark;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
