// className='navigation-container'>
//
// className='navigation-container-left'>
//      <h1 className='navigation-container-left-h1'>Simple Life</h1>
//      < className='navigation-container-left-p'> It doesn't have to be so hard{' '}
//
// <div className='navigation-container-right'>
//     <button className='navigation-container-right-login'>Login</button>
//     <button className='navigation-container-right-register'>Register</button>

.navigation-container {

    display: flex;
	justify-content: space-between;
    align-items: center;
	border-bottom: 0.15rem solid $color-primary-light;
	width: 95%;
	margin: auto;
	padding: 0;
	height: 5rem;


	&-left {
		transform: translateY(2rem);

		&-h1 {
			font-family: $font-heading;
			
		}

		&-p {
			font-family: $font-paragraph;
			transform: translateY(-.75rem);
		}
	}

	&-right {
		content: ''
	}

}

